@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #1f2937;
}
nav {
  background-color: #10151b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  color: white;
  z-index: 10;
}
.baixar {
  background-color: white;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px;
  margin-right: 30px;
  margin-left: 1150px;
}
.baixar:hover {
  scale: 1.1;
  background-color: rgb(255, 123, 0);
}
nav .titulo-menu {
  height: 140px;
  width: 200px;
}
nav .nav-link {
  margin-left: 20px;
  font-weight: bold;
  transition: 0.5s;
  color: rgb(255, 123, 0);
}
nav .nav-link:hover {
  text-decoration: underline;
  scale: 1.1;
  color: rgb(255, 123, 0);
}
.topo {
  background-image: url(imagem/topo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 20px;
}
.topo p {
  width: 60%;
  text-align: center;
  color: white;
  font-size: 1.3em;
}
.btn-menu button:hover, .btn-menu:hover{
  cursor: url('imagem/cursor-sword.png') 8 10, pointer;
}
.pixel-particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1; 
}
.pixel-particles span {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgb(255, 123, 0); 
  animation: subir 4s linear infinite;
  border-radius: 2px; 
}
.art-cards {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 400px;
  z-index: 5;
}
.card {
  color: white;
  background-color: #394a63;
  animation: brilhoPulse 2.5s ease-in-out infinite;
}
#btn {
  transition: 0.5s;
}
#btn:hover {
  scale: 1.1;
  background-color: #344359;
}
.fases-game {
  background-color: #394a63;
  height: 450px;
  display: flex;
  color: white;
  font-weight: bold;
  z-index: 4;
}
.carousel-completo{
  margin-left: 150px;
  text-align: center;
  margin-top: 50px;
}
.carousel-fase {
  height: 300px;
  width: 500px;
  display: flex;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro semitransparente */
  width: 50px;
  height: 50px;
  margin-top: 110px;
  border-radius: 50%; /* forma circular */
  transition: 0.5s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* escurece no hover */
}
.text-fases{
  display: flex;
  justify-content: center;
  position: relative;
  width: 90%;
}
.text{
  display: flex;
  flex-direction: column;
  text-align: justify;
  opacity:  0;
  width: 70%;
  margin-left: 150px;
  margin-top: 140px;
  top: 0;
  left: 0;
  position: absolute;
  transition: opacity 0.2s ease;

  &.active{
    opacity: 1;
  }
}
.cutscene-nieta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #394a63;
  height: 500px;
}
.cutscene-nieta .video-container {
  width: 800px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 50px;
}
.video-container video{
  width: 100%;
  height: auto;
}
.cutscene-nieta .text-left {
  width: 500px;
  color: white;
}
footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-flow: column;
  gap: 10px;
  padding: 30px;
}
footer p {
  width: 50%;
  text-align: center;
}
.devs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
  justify-content: center;
  padding: 50px;
  max-height: 600px;
  margin-left: 250px;
}
.dev {
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: #344359;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 25px;
  height: 250px;
  width: 440px;
  padding: 5px;
}
#dev {
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: #344359;
  display: flex;
  align-items: center;
  gap: 25px;
  height: 250px;
  width: 449px;
  padding: 5px;
}
#dev4 {
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: #344359;
  display: flex;
  align-items: center;
  gap: 25px;
  height: 250px;
  width: 450px;
  padding: 5px;
  grid-row: 2;
}
.dev1 {
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: #344359;
  display: flex;
  align-items: center;
  gap: 25px;
  height: 250px;
  width: 439px;
  padding: 5px;
}
.dev1 .foto1 {
  border-radius: 50%;
  height: 100px;
  width: 120px;
  border: 1px solid black;
  background-image: url(imagem/foto-dev1.jpeg);
  background-position: center top;
  background-size: 100% 100%;
}
.dev .foto2 {
  border-radius: 50%;
  height: 100px;
  width: 170px;
  border: 1px solid black;
  background-image: url(imagem/foto-dev4.5.enc);
  background-position: center top;
  background-size: 100% 100%;
}
#dev .foto-pronta {
  border-radius: 50%;
  height: 100px;
  width: 120px;
  border: 1px solid black;
  background-image: url(imagem/foto-dev2.enc);
  background-position: center top;
  background-size: 100% 100%;
  margin-left: 0px;
}
#dev4 .foto-pronta1 {
  border-radius: 50%;
  height: 100px;
  width: 120px;
  border: 1px solid black;
  background-image: url(imagem/foto-dev3.jpeg);
  background-position: center top;
  background-size: 100% 100%;
}
.dev h2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  html, body{
    overflow-x: hidden;
  }
  body {
    width: 100%;
    overflow-x: hidden;
    height: 100%;
  }
  nav {
    justify-content: center;
    width: 100%;
  }
  nav .titulo-menu{
    margin-right: 50px;
  }
  nav a{
    display: none;
  }
  main {
    width: 100%;
  }
  .card{
    width: 80% !important;
    height: 350px !important;
    margin-top: 20px;
  }
  .baixar {
    justify-self: center;
    margin-left: 0px;
  }
  .art-cards {
    height: 1100px !important;
    width: 100%;
  }
  .fases-game {
    height: 850px !important;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
  }
  .carousel-completo{
    margin: 40px 0 0 0;
  }
  .text-fases{
    margin: 0;
    padding-bottom: 40px;
    height: 400px;
  }
  .text{
    margin: 0;
    width: 90%;
    margin-left: 20px;
    h2{
      font-size: 2em;
    }
    p{
      font-size: 1em;
      margin: 0;
    }
  }
  .fases-game .carousel-fase {
    margin-right: 35px;
    margin-top: 20px;
    width: 90%;
  }
  aside {
    background-color: #1f2937;
    width: 100%;
  }
  .cutscene-nieta {
    display: none;
  }
  footer {
    height: 800px;
    padding-bottom: 1000px;
    width: 100%;
    background-color: #344359;
  }
  footer .dev,
  .dev1,
  #dev,
  #dev4 {
    background-color: #1f2937;
  }
  footer .dev1 {
    grid-row: 1;
    width: 390px !important;
    margin: 0 0 0 25px;
    padding: 0;
  }
  footer #dev {
    grid-row: 2;
    width: 400px !important;
    padding: 0;
    margin: 0 0 0 20px;
  }
  footer #dev4 {
    grid-row: 3;
    width: 400px !important;
    padding: 0;
    margin: 0 0 0 20px;
  }
  footer .dev {
    grid-row: 4;
    width: 400px !important;
    padding: 0;
    margin: 0 0 0 20px;
  }
  footer .text-inicio {
    width: 400px;
  }
}
@media screen and (max-width: 992px) {
  nav {
    justify-content: center;
  }
  .baixar {
    margin-left: 0px;
  }
  .card {
    margin-bottom: 100px;
  }
  .carousel-fase {
    height: 80px;
    margin-bottom: 200px;
    width: 450px;
    margin-left: 20px;
  }
  article {
    height: 1500px;
    gap: 5px;
    padding: 0px;
    margin-bottom: 150px;
  }
  article .card {
    margin-bottom: 0px;
  }
  .fases-game {
    height: 600px;
    justify-content: center;
    align-items: center;
  }
  .fases-game .carousel-fase {
    margin-right: 35px;
    margin-top: 20px;
  }
  footer {
    max-height: 500px;
    padding-top: 400px;
  }
  footer .text-topo {
    padding-top: 650px;
  }
  footer .devs {
    margin-left: 100px;
  }
  footer .dev {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    justify-content: center;
  }
  .baixar {
    margin-left: 0px;
  }
  .carousel-fase {
    height: 100px;
    margin-bottom: 200px;
  }
  article {
    height: 800px;
  }
  .fases-game {
    height: 600px;
    align-items: center;
    justify-content: center;
  }
  .fases-game .carousel-fase {
    margin-right: 35px;
    margin-top: 20px;
  }
  footer {
    height: 1300px;
  }
}

/* Keyframes */

@keyframes brilhoPulse {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.1);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes subir {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.3;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: translateY(-80px) scale(0.6);
    opacity: 0;
  }
}
