@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #1f2937;
}
nav {
  background-color: #10151b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100vw;
  color: white;
  z-index: 10;
}
.baixar {
  background-color: white;
  color: black;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 10px;
  margin-right: 30px;
  margin-left: 1150px;
}
.baixar:hover {
  scale: 1.1;
  background-color: rgb(255, 123, 0);
}
nav .titulo-menu {
  height: 140px;
  width: 200px;
}
nav .nav-link {
  margin-left: 20px;
  font-weight: bold;
  transition: 0.5s;
  color: rgb(255, 123, 0);
}
nav .nav-link:hover {
  text-decoration: underline;
  scale: 1.1;
  color: rgb(255, 123, 0);
}
.topo {
  background-image: url(imagem/topo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 20px;
}
.topo p {
  width: 60%;
  text-align: center;
  color: white;
  font-size: 1.3em;
}
article {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  height: 400px;
  z-index: 5;
}
.card {
  color: whitesmoke;
  background-color: #394a63;
}
#btn {
  transition: 0.5s;
}
#btn:hover {
  scale: 1.1;
  background-color: #344359;
}
.fases-game {
  background-color: #394a63;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: white;
  font-weight: bold;
  z-index: 4;
}
.carousel-fase {
  height: 300px;
  width: 500px;
  display: flex;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5); /* fundo escuro semitransparente */
  width: 50px;
  height: 50px;
  margin-top: 110px;
  border-radius: 50%; /* forma circular */
  transition: 0.5s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* escurece no hover */
}
.cutscene-nieta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #394a63;
  height: 500px;
}
.cutscene-nieta .video-container {
  width: 800px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 60px;
  margin-bottom: 50px;
}
.cutscene-nieta .text-left {
  width: 500px;
  color: white;
}
footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-flow: column;
  gap: 10px;
  padding: 30px;
}
footer p {
  width: 50%;
  text-align: center;
}
.devs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
  justify-content: center;
  padding: 50px;
  max-height: 600px;
  margin-left: 250px;
}
.dev {
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: #344359;
  grid-row: 2;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 250px;
  width: 440px;
  padding: 5px;
}
#dev {
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: #344359;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 250px;
  width: 449px;
  padding: 5px;
}
#dev4 {
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: #344359;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 250px;
  width: 450px;
  padding: 5px;
  grid-row: 2;
}
.dev1 {
  border: 1px solid #1f2937;
  border-radius: 10px;
  background-color: #344359;
  display: flex;
  align-items: center;
  gap: 20px;
  height: 250px;
  width: 439px;
  padding: 5px;
}
.dev1 .foto1 {
  border-radius: 50%;
  height: 100px;
  width: 120px;
  border: 1px solid black;
  background-image: url(imagem/foto-dev1.jpeg);
  background-position: center top;
  background-size: 100% 100%;
}
.dev .foto2 {
  border-radius: 50%;
  height: 100px;
  width: 170px;
  border: 1px solid black;
  background-image: url(imagem/foto-dev4.5.enc);
  background-position: center top;
  background-size: 100% 100%;
}
#dev .foto-pronta {
  border-radius: 50%;
  height: 100px;
  width: 120px;
  border: 1px solid black;
  background-image: url(imagem/foto-dev2.enc);
  background-position: center top;
  background-size: 100% 100%;
  margin-left: 0px;
}
#dev4 .foto-pronta1 {
  border-radius: 50%;
  height: 100px;
  width: 120px;
  border: 1px solid black;
  background-image: url(imagem/foto-dev3.jpeg);
  background-position: center top;
  background-size: 100% 100%;
}
.dev h2 {
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  nav {
    justify-content: center;
    width: 100%;
  }
  main {
    width: 100vw;
  }
  .baixar {
    justify-self: center;
    margin-left: 0px;
  }
  .carousel-fase {
    height: 100px;
    margin-bottom: 200px;
  }
  article {
    height: 1000px;
  }
  .fases-game {
    height: 600px;
    align-items: center;
  }
  .fases-game .carousel-fase {
    margin-right: 35px;
    margin-top: 20px;
  }
  aside {
    background-color: #1f2937;
  }
  .cutscene-nieta {
    display: none;
  }
  footer {
    height: 800px;
    padding-bottom: 1000px;
    width: 100vw;
    background-color: #344359;
  }
  footer .dev,
  .dev1,
  #dev,
  #dev4 {
    background-color: #1f2937;
  }
  footer .dev1 {
    grid-row: 1;
    width: 450px;
  }
  footer #dev {
    grid-row: 2;
  }
  footer #dev4 {
    grid-row: 3;
  }
  footer .dev {
    grid-row: 4;
    width: 450px;
  }

  footer .text-inicio {
    width: 400px;
  }
}
@media screen and (max-width: 992px) {
  nav {
    justify-content: center;
  }
  .baixar {
    margin-left: 0px;
  }
  .card {
    margin-bottom: 100px;
  }
  .carousel-fase {
    height: 80px;
    margin-bottom: 200px;
    width: 450px;
    margin-left: 20px;
  }
  article {
    height: 1500px;
    gap: 5px;
    padding: 0px;
    margin-bottom: 150px;
  }
  article .card {
    margin-bottom: 0px;
  }
  .fases-game {
    height: 600px;
    justify-content: center;
    align-items: center;
  }
  .fases-game .carousel-fase {
    margin-right: 35px;
    margin-top: 20px;
  }
  footer {
    max-height: 500px;
    padding-top: 400px;
  }
  footer .text-topo {
    padding-top: 650px;
  }
  footer .devs {
    margin-left: 100px;
  }
  footer .dev {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1200px) {
  nav {
    justify-content: center;
  }
  .baixar {
    margin-left: 0px;
  }
  .carousel-fase {
    height: 100px;
    margin-bottom: 200px;
  }
  article {
    height: 800px;
  }
  .fases-game {
    height: 600px;
    align-items: center;
    justify-content: center;
  }
  .fases-game .carousel-fase {
    margin-right: 35px;
    margin-top: 20px;
  }
  footer {
    height: 1300px;
  }
}
